[Unit]
Description=Remopi

[Service]
ExecStart=/usr/bin/node /home/pi/remopi/index.js
WorkingDirectory=/home/pi/remopi
Environment=NODE_ENV=production
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
